*{
    box-sizing: border-box;
}

body{
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    margin: 0;
    min-height:100vh;

}
#lead {
    text-align: center;
    font-style: italic;
}

.contain {
    background-color: #fff;
    /* border-radius: 5px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    padding: 40px;
    margin: 0 auto;

}

.head {
    margin-bottom: 35px;
}

.head h2 {
    margin-bottom: 5px;
}
.head p {
    margin-top: 0;
    font-size: 14px;
    color: grey;
}

.form-group-1 {
    margin-bottom: 10px;
    /* padding is use to spot for error message */
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
   }

   .form-group-1 label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: grey;
}
.form-group-1 input[type='text']  {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;

}
.form-group-1 input[type='email']  {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;

}
/* .form-group input[type='email']:focus {
    border: none;
} */



.form-group-1 input[type='password']  {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;

}

.para {
    display: inline-block;
    margin-left: 50px;
    color:rgb(255, 187, 0) ;
}

input::placeholder {
    color: black;
    font-size: 16px;
    opacity: 1;

}

.form button {
    background-color: rgb(255, 187, 0);
    border: 2px solid rgb(255, 187, 0);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 5px 20px;
    width: 100%;
    margin-bottom: 50px;
}

.form-group-1 small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* .black {
    background-color: black;
    height: 563px;
    background: url(./img/c7.jpg) no-repeat;
} */

.form-group-1.success input {
    border-color: #2ecc71;

}

.form-group-1.error input {
    border-color: #e74c3c;

}

.form-group-1.error small {
    visibility: visible;
    color: #e74c3c;

}
/* #showcase {
    max-height: 563px;

} */
